body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #222;
  color: #fff;
  padding: 1em;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(img/background\ y2k.jpg);
  background-size: cover;
}

.profile img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

section {
  padding: 2em;
}

form {
  display: grid;
  gap: 1em;
}

footer {
  background-color: grey;
  color: #fff;
  padding: 1em;
  text-align: center;
}
